section.about {
	.content {
		display: flex;
		gap: 64px;

		& > * {
			flex: 1;
		}

		.illustration {
			position: relative;

			.card {
				width: 100%;
				height: 100%;
				background-color: var(--card-bg);
				border: 1px solid var(--border);
				border-radius: var(--card-corner);
				z-index: 2;
			}

			img {
				position: absolute;
				height: calc(100% + 100px);
				bottom: 0;
				left: 30%;
				z-index: 3;

				&.outline {
					z-index: 1;
				}
			}
		}

		.message {
			h6 {
				text-transform: uppercase;
				color: var(--primary);
				font-size: 16px;
				font-family: 'regular';
			}

			p {
				margin-top: 32px;
				font-size: 24px;
				font-family: 'medium';
			}
		}
	}
}
