section.skills {
	.content {
		h5 {
			font-family: 'medium';
			font-size: 20px;

			&.technical-header {
				text-align: center;
			}
		}

		.technical {
			width: 100%;

			.container {
				width: 100%;
				display: flex;
				gap: 28px;
				margin-top: 28px;
				position: relative;
				z-index: 1;

				.card {
					border-radius: var(--card-corner);
					background: var(--card-gradient);
					background-color: white;
					position: relative;
					height: 400px;
					display: flex;
					padding: var(--card-padding);
					cursor: pointer;
					min-width: calc(104px + (calc(var(--card-padding) * 2))) !important;

					&::before {
						--size: -1px;

						content: '';
						position: absolute;
						top: var(--size);
						left: var(--size);
						right: var(--size);
						bottom: var(--size);
						background: var(--border-gradient);
						z-index: -1;
						border-radius: var(--card-corner);
					}

					.image {
						position: absolute;
						overflow: hidden;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						z-index: 1;

						img {
							z-index: 2;
							position: absolute;

							&.glow {
								z-index: 1;
								filter: blur(20px);
								position: absolute;
							}
						}
					}

					h6 {
						font-family: 'medium';
						position: absolute;
						left: var(--card-padding);
						z-index: 5;
						top: 100%;
						transform: translateY(calc(-100% - var(--card-padding)));
						font-size: 16px;
					}

					.content {
						position: absolute;
						z-index: 2;
						top: 88px;

						p {
							font-family: 'medium';

							span {
								display: inline-block;
							}
						}
					}

					button {
						position: absolute;
						right: var(--card-padding);
						z-index: 5;
					}
				}
			}
		}

		.misc {
			margin-top: 56px;
			display: flex;
			justify-content: space-between;

			h5 {
				width: 40%;
			}

			p {
				width: 27%;
				color: var(--light-gray);
			}
		}
	}
}

// SKILLS
.skill-ui {
	img {
		width: 485px;
		left: -52px;
		top: 50%;
	}

	.content {
		width: 40%;
	}
}

.skill-web {
	img {
		width: 234px;
		left: 50%;
		top: 50%;
	}

	.content {
		width: 45%;
		right: var(--card-padding);

		.highlight {
			display: block !important;
			color: var(--light-gray);
			font-family: 'regular';
			font-size: 14px;
			margin-bottom: 8px;

			&.back {
				margin-top: 36px;
			}
		}
	}
}

.skill-mobile {
	img {
		width: 378px;
		left: 50%;
		top: 50%;
	}

	.content {
		width: 45%;
	}
}

.highlight-glow {
	position: absolute;
	width: 500px;
	height: 100px;
	background-color: var(--primary);
	z-index: 0;
	border-radius: 100%;
	left: 50%;
	bottom: 0;
	filter: blur(64px);
}
