.center-h {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divider {
	width: 100%;
	padding: var(--section-spacing) var(--page-padding);
	display: flex;
	max-width: var(--page-width);
	padding-bottom: 0;

	span {
		height: 1px;
		width: 100%;

		background-color: var(--border);
		border-radius: 100px;
	}
}
