@import './resources/sizing';
@import './resources/fonts';
@import './resources/colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	interpolate-size: allow-keywords;
	overflow-x: hidden;
}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	scrollbar-width: 0;
	align-items: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	&:focus {
		outline: none;
		border: none;
	}
}

// Hide scrollbar
::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: transparent; /* Hides the scrollbar thumb */
}

::-webkit-scrollbar-track {
	background: transparent; /* Hides the scrollbar track */
}

body,
html,
#root {
	scrollbar-width: none;
}

@media (max-width: 900px) {
	.main {
		display: none;
	}

	.mobile-view {
		display: flex !important;
	}
}

.mobile-view {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: var(--black);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	z-index: 50;
	padding: 24px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	svg {
		fill: white;
		width: 48px;
	}

	p {
		font-size: 24px;
		font-family: 'medium';
		color: white;
		text-align: center;
	}
}

@import './utility';
@import './components';

@import './components/text';
@import './components/button';
@import './components/modal';

@import './sections/nav';
@import './sections/landing';
@import './sections/about';
@import './sections/skills';
@import './sections/projects';
@import './sections/contact';
@import './sections/footer';
