@import './resources/sizing';
@import './resources/fonts';
@import './resources/colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	interpolate-size: allow-keywords;
	overflow-x: hidden;
}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	scrollbar-width: 0;
	align-items: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	&:focus {
		outline: none;
		border: none;
	}
}

// Hide scrollbar
::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: transparent; /* Hides the scrollbar thumb */
}

::-webkit-scrollbar-track {
	background: transparent; /* Hides the scrollbar track */
}

body,
html,
#root {
	scrollbar-width: none;
}

@media (max-width: 768px) {
	#root {
		display: none !important;
	}
}

@import './utility';
@import './components';

@import './components/text';
@import './components/button';
@import './components/modal';

@import './sections/nav';
@import './sections/landing';
@import './sections/about';
@import './sections/skills';
@import './sections/projects';
@import './sections/contact';
@import './sections/footer';
