:root {
  --card-corner: 20px;
  --font-size: 16px;
  --card-padding: 24px;
  --page-padding: 200px;
  --section-spacing: 80px;
  --page-width: 1536px;
}

@font-face {
  font-family: "regular";
  src: url("./resources/funnel_display.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "medium";
  src: url("./resources/funnel_display.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "semibold";
  src: url("./resources/funnel_display.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "bold";
  src: url("./resources/funnel_display.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "extrabold";
  src: url("./resources/funnel_display.ttf");
  font-weight: 800;
}
:root {
  font-family: "regular";
  font-size: var(--font-size);
}

:root {
  --black: #0d0d0d;
  --light-black: #494949;
  --gray: #666666;
  --light-gray: #898989;
  --lighter-gray: #dedede;
  --border: #242424;
  --border-gradient: linear-gradient(160deg, #242424 25%, #0d0d0d);
  --border-light: #d9d9d9;
  --card-bg: #141414;
  --card-gradient: linear-gradient(150deg, #141414 30%, #0d0d0d 75%);
  --primary: #ffa600;
  --primary-dark: #e89700;
  --footer-bg: #131313;
  --linkedin: #1469c7;
  --instagram: #ff2448;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

body {
  background-color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.center-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 100%;
  padding: var(--section-spacing) var(--page-padding);
  display: flex;
}
.divider span {
  height: 1px;
  width: 100%;
  background-color: var(--border);
  border-radius: 100px;
}

section {
  width: 100%;
  padding: 0 var(--page-padding);
  max-width: var(--page-width);
}

p.section-label {
  font-size: 14px;
  font-family: "medium";
  color: var(--light-gray);
  margin-bottom: 48px;
  text-transform: uppercase;
}

button.circle-icon {
  padding: 8px;
  border-radius: 100px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
button.circle-icon svg {
  width: 16px;
  height: 16px;
  transform: translate(1.5px, 1.5px);
  stroke: var(--light-gray);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

section.landing {
  position: relative;
  padding: 0;
}
section.landing .content {
  margin: 220px 160px;
}
section.landing .content .inline {
  text-align: center;
}
section.landing .content .inline h1 {
  display: inline;
}
section.landing .content .inline h1.highlight {
  color: var(--primary);
  padding: 0 1rem;
}
section.landing img {
  position: absolute;
  width: 100%;
  margin-top: 28px;
  opacity: 0.5;
  pointer-events: none;
}

section.about {
  margin-top: 48px;
}
section.about .content {
  display: flex;
  gap: 64px;
}
section.about .content > * {
  flex: 1;
}
section.about .content .illustration {
  position: relative;
}
section.about .content .illustration .card {
  width: 100%;
  height: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: var(--card-corner);
}
section.about .content .illustration img {
  position: absolute;
  height: calc(100% + 100px);
  bottom: 0;
  left: 30%;
}
section.about .content .message h6 {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 16px;
  font-family: "regular";
}
section.about .content .message p {
  margin-top: 32px;
  font-size: 24px;
  font-family: "medium";
}

section.skills .content h5 {
  font-family: "medium";
  font-size: 20px;
}
section.skills .content h5.technical-header {
  text-align: center;
}
section.skills .content .technical {
  width: 100%;
}
section.skills .content .technical .container {
  width: 100%;
  display: flex;
  gap: 28px;
  margin-top: 28px;
  position: relative;
  z-index: 1;
}
section.skills .content .technical .container .card {
  flex: 1;
  border-radius: var(--card-corner);
  background: var(--card-gradient);
  background-color: white;
  position: relative;
  height: 400px;
  display: flex;
  padding: var(--card-padding);
  cursor: pointer;
}
section.skills .content .technical .container .card::before {
  --size: -1px;
  content: "";
  position: absolute;
  top: var(--size);
  left: var(--size);
  right: var(--size);
  bottom: var(--size);
  background: var(--border-gradient);
  z-index: -1;
  border-radius: var(--card-corner);
}
section.skills .content .technical .container .card .image {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
section.skills .content .technical .container .card .image img {
  z-index: 2;
  position: absolute;
}
section.skills .content .technical .container .card .image img.glow {
  z-index: 1;
  filter: blur(20px);
  position: absolute;
}
section.skills .content .technical .container .card h6 {
  font-family: "medium";
  font-size: 16px;
  position: absolute;
  left: var(--card-padding);
  top: 100%;
  transform: translateY(calc(-100% - var(--card-padding)));
  z-index: 2;
}
section.skills .content .technical .container .card .content {
  position: absolute;
  z-index: 2;
  top: 88px;
}
section.skills .content .technical .container .card .content p {
  font-family: "medium";
}
section.skills .content .technical .container .card .content p span {
  margin-right: 4px;
  display: inline-block;
}
section.skills .content .technical .container .card button {
  position: absolute;
  right: var(--card-padding);
  top: 100%;
  transform: translateY(calc(-100% - var(--card-padding)));
  z-index: 2;
}
section.skills .content .misc {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
section.skills .content .misc h5 {
  width: 40%;
}
section.skills .content .misc p {
  width: 27%;
  color: var(--light-gray);
}

.skill-ui img {
  width: 135%;
  left: -52px;
  top: 50%;
  transform: translate(0, -50%);
}

.skill-web img {
  left: 50%;
  top: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
}

.skill-mobile img {
  left: 50%;
  top: 50%;
  width: 105%;
  transform: translate(-55%, -50%);
}

.skills .technical .container .card {
  --scale: 1.1;
}
.skills .technical .container .card.skill-ui:hover img {
  transform: translate(0, -50%) scale(var(--scale));
}
.skills .technical .container .card.skill-web:hover img {
  transform: translate(-50%, -50%) scale(var(--scale));
}
.skills .technical .container .card.skill-mobile:hover img {
  transform: translate(-55%, -50%) scale(var(--scale));
}

.skills .technical .container .card.skill-ui * {
  transition: all 0.5s ease-in-out;
}
.skills .technical .container .card.skill-ui.show {
  flex: 100;
}
.skills .technical .container .card.skill-ui.show h6 {
  font-size: 24px;
  top: var(--card-padding);
  transform: translateY(0);
}
.skills .technical .container .card.skill-ui.show button {
  top: var(--card-padding);
  transform: translateY(0);
}

section.contact .content {
  display: flex;
  gap: 164px;
  align-items: center;
}
section.contact .content .message {
  margin-top: 36px;
  position: relative;
  flex: 0.6;
}
section.contact .content .message h4 {
  font-size: 32px;
  font-family: "semibold";
}
section.contact .content .message p {
  color: var(--light-gray);
  font-family: "medium";
}
section.contact .content .message img {
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translateY(-12px);
  pointer-events: none;
}
section.contact .content .stack {
  flex: 1;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section.contact .content .stack .container {
  position: absolute;
  transition-timing-function: cubic-bezier(0.8, 0.3, 0.1, 1.5);
  transition-duration: 0.5s;
  --card-spacing: 64px;
  --hover-spacing: 80px;
}
section.contact .content .stack .container:nth-child(1) {
  z-index: 1;
  transform: translateY(var(--card-spacing));
}
section.contact .content .stack .container:nth-child(1):hover ~ #email-card {
  transform: translateY(calc(var(--card-spacing) * -1 - (var(--hover-spacing))));
}
section.contact .content .stack .container:nth-child(1):hover ~ #linkedin-card {
  transform: translateY(calc(var(--hover-spacing) * -1));
  transition-delay: 0.1s;
}
section.contact .content .stack .container:nth-child(1):hover .card {
  background-color: var(--instagram);
  box-shadow: 0 0 48px rgba(255, 36, 72, 0.5019607843);
  border-color: var(--instagram);
}
section.contact .content .stack .container:nth-child(1):hover .card .label svg {
  fill: #8c0e25;
}
section.contact .content .stack .container:nth-child(1):hover .card .label p {
  color: #8c0e25;
}
section.contact .content .stack .container:nth-child(2) {
  z-index: 2;
}
section.contact .content .stack .container:nth-child(2):hover ~ #email-card {
  transform: translateY(calc(var(--card-spacing) * -1 - var(--hover-spacing)));
}
section.contact .content .stack .container:nth-child(2):hover .card {
  background-color: var(--linkedin);
  box-shadow: 0 0 48px rgba(20, 105, 199, 0.5019607843);
  border-color: var(--linkedin);
}
section.contact .content .stack .container:nth-child(2):hover .label svg {
  fill: #073263;
}
section.contact .content .stack .container:nth-child(2):hover .label p {
  color: #073263;
}
section.contact .content .stack .container:nth-child(3) {
  z-index: 3;
  transform: translateY(calc(var(--card-spacing) * -1));
}
section.contact .content .stack .container:nth-child(3):hover .card {
  box-shadow: 0 0 48px rgba(255, 166, 0, 0.4);
  background-color: var(--primary);
  border-color: var(--primary);
}
section.contact .content .stack .container:nth-child(3):hover .label svg {
  fill: #684400;
}
section.contact .content .stack .container:nth-child(3):hover .label p {
  color: #684400;
}
section.contact .content .stack .container:hover .card .handle-container {
  flex: 1;
}
section.contact .content .stack .container:hover .card .handle-container .handle {
  color: var(--black);
}
section.contact .content .stack .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--card-padding) / 1.5) var(--card-padding);
  border-radius: var(--card-corner);
  background-color: rgba(20, 20, 20, 0.5019607843);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 1px solid var(--border);
  width: 360px;
  aspect-ratio: 5/3;
  transform: rotate(30deg) skew(-25deg);
  cursor: pointer;
  gap: 4px;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.5);
}
section.contact .content .stack .card .handle-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
section.contact .content .stack .card .handle-container .handle {
  color: var(--light-gray);
  font-size: 20px;
  font-family: "semibold";
}
section.contact .content .stack .card .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.contact .content .stack .card .label svg {
  fill: var(--light-gray);
  height: 28px;
}
section.contact .content .stack .card .label p {
  color: var(--light-gray);
  text-transform: uppercase;
  font-family: "medium";
  font-size: 14px;
}

footer {
  width: 100%;
  background: linear-gradient(to bottom, var(--card-bg), var(--black));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--section-spacing);
  position: relative;
}
footer span {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, var(--black), var(--border) 20%, var(--border) 80%, var(--black));
  position: absolute;
  top: 0;
  left: 0;
}
footer .content {
  width: 100%;
  max-width: var(--page-width);
  padding: 48px;
  padding-top: 100px;
  display: flex;
  gap: 36px;
  align-items: end;
  justify-content: space-between;
}
footer .content h1 {
  font-size: 160px;
  font-family: "semibold";
  text-transform: uppercase;
  line-height: 0.85em;
}
footer .content .container {
  display: flex;
}
footer .content .container button,
footer .content .container p {
  font-size: 14px;
  font-family: "medium";
  transition: 0.3s ease-out;
}
footer .content .container button:hover,
footer .content .container p:hover {
  color: white;
}
footer .content .container > div {
  width: 164px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
}
footer .content .container > div:nth-child(3) {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
}
footer .content .container > div .label {
  margin-bottom: 8px;
}
footer .content .container > div button {
  color: var(--light-gray);
}/*# sourceMappingURL=style.css.map */