:root {
	--black: #0d0d0d;
	--offwhite: #f2f2f2;
	--light-black: #494949;
	--gray: #666666;
	--light-gray: #898989;
	--lighter-gray: #dedede;

	--border: #242424;
	--border-gradient: linear-gradient(160deg, #242424 25%, #0d0d0d);
	--border-light: #d9d9d9;
	--card-bg: #141414;
	--card-gradient: linear-gradient(150deg, #141414 30%, #0d0d0d 75%);

	--primary: #ffa600;
	--primary-dark: #e89700;

	--footer-bg: #131313;

	--linkedin: #1469c7;
	--instagram: #ff2448;
}
